.topnav {
    background-color: darkgray;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(14, 80, 234);
}

.topnav a.active {
    background-color: grey;
    color: #ffffff;
}

.welcome-spacer{
    padding: 20vh;
}

#welcome-header{
    text-align: center;
    font-size: 300%;
}

.btn {
    width: 200px;
    font-size: 20px;
    height: 60px;
    border: none;
    outline: none;
    background: #c38b8b;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 0px;
  }
  
  .btn::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0px;
  }
  
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555273;
    left: 0;
    top: 0;
    border-radius: 0px;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }