.title {
  background-color: black;
  color: red;
}

.topNavButton-Home {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 85vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-profile:hover {
  background-color: #7fc592
}

.topNavButton-profile:active {
  background-color: #92E3A9;
}

.topNavButton-Sign_Up {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 75vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-ride:hover {
  background-color: #7fc592
}

.topNavButton-ride:active {
  background-color: #92E3A9;
}

.topNavButton-Login {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 65vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-drive:hover {
  background-color: #7fc592
}

.topNavButton-drive:active {
  background-color: #92E3A9;
}

.topNavButton-history {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 45vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-history:hover {
  background-color: #7fc592
}

.topNavButton-history:active {
  background-color: #92E3A9;
}

.logo-type {
  position: absolute;
  left: 5vw;
  top: 5vh;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  color: #000000;
}

.logo-type-white {
  position: absolute;
  left: 5vw;
  top: 5vh;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  color: white;
}

.topNavButton {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 85vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton:hover {
  background-color: #7fc592
}

.topNavButton:active {
  background-color: #92E3A9;
}

.topnav {
  top: 5vh;
}


.loginbox {
  margin-top: 30vh;
  margin-left: 35vw;
  margin-right: 35vw;
  border-style: solid;
  border-radius: 8px;
  box-sizing: 20vw, 40vh;
  border-width: 5px;
  font-size: 20px;
  font-family: 'Fredoka';
  color: #62d187;
  background-color: rgb(255, 255, 255);
}

.textField {
  border-radius: 15px;
  box-sizing: border-box;
  border-color: #000000;
  background: white;
  border-width: 1px;

  padding: 4px;
  width: 250px;
  height: 35px;


  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px;
}

.logintext {
  color: rgb(0, 0, 0);
  text-align: center;

}



.btn {
  width: 100px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 30px;
  border: none;
  outline: none;
  background: #c38b8b;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:hover::before {
  opacity: 1;
}

.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #555273;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.logbutton {
  color: white;
  text-decoration: none;
}

.spacing {
  padding: 10px;
}

/* .background {
  background-image: url("images/loginbackground.jpg");
  background-size: cover;
} */

.loginHeader {
  color: white;
  text-align: center;
}

#Head2 {

  position: absolute;
  width: 644px;
  height: 232px;
  left: 125px;
  top: 200px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 116px;

  color: #000000;
}

.taxi {

  position: absolute;
  width: 700px;
  height: 450px;
  left: 800px;
  top: 291px;
}

#Head3 {
  position: absolute;
  width: 650px;
  height: 450px;
  left: 850px;
  top: 229px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 116px;

  color: #000000;
}

.waiting {
  position: absolute;
  width: 800px;
  height: 450px;

  top: 950px;
}

#Head4 {
  position: absolute;
  width: 550px;
  height: 150px;
  left: 850px;
  top: 1150px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  color: #000000;
}

#Head5 {
  position: absolute;
  width: 858px;
  height: 116px;
  left: 102px;
  top: 272px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  text-align: right;

  color: #000000;
}

.Ride-Button {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 109px;
  top: 650px;

  background: #92E3A9;
  border-radius: 50px;
  position: absolute;

  top: 650px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}

.Drive-Button {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 400px;
  top: 650px;

  background: #ffffff;
  border-radius: 50px;
  position: absolute;

  top: 650px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}

.link_dec {
  text-decoration: none;
}

#Head6 {
  position: absolute;
  width: 550px;
  height: 116px;
  left: 25px;
  top: 1400px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 116px;
  text-align: right;

  color: #000000;
}

.comfort {
  position: absolute;
  width: 700px;
  height: 350px;
  left: 800px;
  top: 1450px;
}

#Head7 {
  position: absolute;
  width: 550px;
  height: 116px;
  left: 25px;
  top: 1640px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: right;

  color: #000000;
}

.drive {
  position: absolute;
  width: 176px;
  height: 77px;
  left: 210px;
  top: 172px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
}

.whereGOIN {
  position: absolute;
  width: 450px;
  height: 48px;
  left: 151px;
  top: 346px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.goinBOX {
  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 41px;
  left: 148px;
  top: 415px;

  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px;
}

.minusCircle {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 164px;
  top: 607px;
  border-radius: 46px;

  background: #D9D9D9;
}

.plusCircle {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 536px;
  top: 607px;
  border-radius: 46px;

  background: #D9D9D9;
}

.counterBox {
  position: absolute;
  width: 163px;
  height: 159px;
  left: 315px;
  top: 577px;

  background: #D9D9D9;
  border-radius: 25px;
}

.counterNumber {
  position: absolute;
  width: 31px;
  height: 57px;
  left: 368px;
  top: 598px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 116px;
  text-align: center;

  color: #000000;
}

.numSeats {
  position: absolute;
  width: 600px;
  height: 48px;
  left: 148px;
  top: 492px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.carMake {
  position: absolute;
  width: 500px;
  height: 48px;
  left: 856px;
  top: 346px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

:placeholder-shown {
  width: 58px;
  height: 29px;
  padding-left: 10px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}


.carMakeQ {
  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 41px;
  left: 853px;
  top: 414px;

  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px;
}

.carModelQ {
  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 41px;
  left: 853px;
  top: 481px;

  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px;
}

.carYearQ {
  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 41px;
  left: 853px;
  top: 548px;

  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px
}

.actualMinus {
  position: absolute;
  width: 42px;
  height: 45px;
  left: 193px;
  top: 585px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 116px;
  text-align: center;

  color: #000000;

}

.actualPlus {
  position: absolute;
  width: 53px;
  height: 116px;
  left: 556px;
  top: 583px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 116px;
  text-align: center;

  color: #000000;

}

.topNavButton-profile {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 15vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-profile:hover {
  background-color: #7fc592
}

.topNavButton-profile:active {
  background-color: #92E3A9;
}

.topNavButton-ride {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 25vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-ride:hover {
  background-color: #7fc592
}

.topNavButton-ride:active {
  background-color: #92E3A9;
}

.topNavButton-drive {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 35vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-drive:hover {
  background-color: #7fc592
}

.topNavButton-drive:active {
  background-color: #92E3A9;
}

.topNavButton-history {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 45vw;
  top: 8vh;
  float: right;

  border-radius: 25px;
  font-family: 'Fredoka';
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;


  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #92E3A9;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.topNavButton-history:hover {
  background-color: #7fc592
}

.topNavButton-history:active {
  background-color: #92E3A9;
}

.loginHeader {
  color: white;
  text-align: center;
}

.profile {
  position: absolute;
  left: 10vw;
  top: 20vh;
  font-family: 'Fredoka';
  font-size: 48px;
}

.name {
  position: relative;
  top: 35vh;
  font-family: 'Fredoka';
  font-size: 48px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
  font-size: large;
}

.card-distance {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */

  margin-left: 0vh;
  width: 200px;
  height: 100px;
  max-width: 250px;
  max-height: 300px;
}

/* On mouse-over, add a deeper shadow */
.card-distance:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-count {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  margin-top: 0vh;
  margin-left: 10vh;
  width: 200px;
  height: 100px;
  max-width: 250px;
  max-height: 300px;
}

/* On mouse-over, add a deeper shadow */
.card-count:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  font-family: 'Fredoka';
  text-align: center;
  line-height: 5px;
}

h5 {
  font-size: 20px;

}

.historyTitle {
  position: absolute;
  width: 202px;
  height: 77px;
  left: 210px;
  top: 172px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}

.historyBox {
  position: absolute;
  width: 1200px;
  height: 500px;
  left: 164px;
  top: 285px;

  background: #D9D9D9;
  border-radius: 50px;
}

.historyLine1 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 164px;
  top: 375px;

  border: 1px solid #000000;
}

.historyLine2 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 164px;
  top: 475px;

  border: 1px solid #000000;
}

.historyLine3 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 164px;
  top: 575px;

  border: 1px solid #000000;
}

.historyLine4 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 164px;
  top: 675px;

  border: 1px solid #000000;
}

.historyEntry1 {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 190px;
  top: 295px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry2 {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 190px;
  top: 395px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry3 {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 190px;
  top: 495px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry4 {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 190px;
  top: 595px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}


.historyEntry5 {
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 190px;
  top: 695px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry1r {
  position: absolute;
  width: 1200px;
  height: 72px;
  right: -850px;
  top: 290px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry2r {
  position: absolute;
  width: 1200px;
  height: 72px;
  right: -850px;
  top: 390px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry3r {
  position: absolute;
  width: 1200px;
  height: 72px;
  right: -850px;
  top: 490px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.historyEntry4r {
  position: absolute;
  width: 1200px;
  height: 72px;
  right: -850px;
  top: 590px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}


.historyEntry5r {
  position: absolute;
  width: 1200px;
  height: 72px;
  right: -850px;
  top: 690px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 77px;
}

.Drop-Off {
  position: absolute;
  width: 450px;
  height: 48px;
  left: 151px;
  top: 500px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.dropBOX {
  box-sizing: border-box;

  position: absolute;
  width: 529px;
  height: 41px;
  left: 148px;
  top: 555px;

  background: #FFFFFF;
  border: 2.25px solid #000000;
  border-radius: 25px;
}

.ride_head {
  position: absolute;
  width: 176px;
  height: 77px;
  left: 140px;
  top: 172px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
}

#bottom {
  position: absolute;
  width: 550px;
  height: 150px;
  left: 650px;
  top: 1840px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
}